li.book {
  > div {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 0.5rem;

    img {
      width: 100%;
      height: auto;
    }

    .data {
      display: grid;
      grid-template-rows: 1.25rem;
      font-size: rfs-value(14px);
      .title {
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .authors {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
