li.book {
  > div {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 0.5rem;

    img {
      width: 100%;
      height: auto;
    }

    .data {
      display: grid;
      grid-template-rows: 2rem;
      .title {
        font-weight: bold;
        height: 3rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
