span.tag {
  pointer-events: none;
}

.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  max-width: 100%;

  span {
    @extend .serif;
    padding: rfs-value(10px);
    height: rfs-value(30px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rfs-value(15px);
    border-top-left-radius: rfs-value(5px);
    border-bottom-left-radius: rfs-value(5px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    max-width: calc(100% - rfs-value(15px));

    * {
      display: inline;
      border: none;
      background: transparent;
      padding: 0;
      margin: 0;
      font-size: rfs-value(15px);
    }
  }
  svg {
    width: rfs-value(15px);
    height: rfs-value(30px);
    margin-left: rfs-value(1px);
    clip-path: polygon(0 0, 60% 0, 100% 20%, 100% 80%, 60% 100%, 0 100%);
  }

  &.lg {
    span {
      max-width: calc(100% - rfs-value(22px));
      height: rfs-value(44px);
      font-size: rfs-value(22px);
      padding: rfs-value(18px);

      * {
        font-size: rfs-value(22px);
      }
    }
    svg {
      width: rfs-value(22px);
      height: rfs-value(44px);
    }
  }
}
